# Игнорирование виртуального окружения Python
venv/
__pycache__/
*.pyc

# Конфиденциальные файлы с ключами API или данными доступа
CREDS
*.env

# Логи и временные файлы
*.log
*.tmp
*.bak

# Исключение файлов браузерного расширения
# Если не нужно сохранять определенные файлы конфигурации
*.pem
*.crt

# Файлы ОС
.DS_Store
Thumbs.db

# Node.js зависимости, если используются
node_modules/
